.center {
  margin: auto;
  width: 200%;
  border: 1px solid #000000;
  padding: 10px;
  margin-top: 0px;
  background-color: aliceblue;
}
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(7, 66, 175);
}

img {
  width: 100%;
}
